variables:
  NODE_VERSION: 22.11.0
  BUILD_TARGET: tarc
default:
  tags:
    - kfhub-lambda-build
  before_script:
    - export TERM=xterm
  retry:
    max: 2
    when:
      - data_integrity_failure
      - scheduler_failure
      - stale_schedule
      - stuck_or_timeout_failure
      - script_failure
      - unknown_failure
stages:
  - prebuild
  - deploy_CN
prebuild:
  stage: prebuild
  rules:
    - if: $CI_COMMIT_TAG =~ /-beijing--deployment--\d{14}$/
      when: on_success
  script:
    - touch node_modules
    - rm -rf node_modules
    - cp -R prebuild/node_modules ./node_modules
    - cd node_modules && for f in .*.tar.gz *.tar.gz; do tar xzf "$f"; rm "$f"; done
    - npm run build:all ${BUILD_TARGET} ci-invoker no-sourcemap
  artifacts:
    paths:
      - ./node_modules
      - ./release
      - ./prebuild
    expire_in: 8 week
deploy_CN:
  stage: deploy_CN
  rules:
    - if: $CI_COMMIT_TAG =~ /-beijing--deployment--\d{14}$/
      when: manual
  script:
    - npm run ci-put-s3 -- --input deploy/prod-beijing.json --only app --target release --auto
