variables:
  NODE_VERSION: 22.11.0
  BUILD_TARGET: tarc
  VERACODE_VERSION: 24.4.13.0
  VERACODE_ID: 78133959f016adb2080afdc319b36220
  VERACODE_KEY: 16c846b089b90584ef84b75061d5d511be31c4f705f511ea5f508c4c3636f3df77e5f364fc937a86e863abde1d2959244779c37a43deb75c25c2fa9b2934b036
  VERACODE_APP_NAME: KFD-PMNGR-KFHUB-TARC-LIB-UI
  VERACODE_APP_ARCHIVE_NAME: kfhub_tarc_lib
default:
  tags:
    - kfhub-gitlab-build
  before_script:
    - export TERM=xterm
    - nvm use ${NODE_VERSION}
  retry:
    max: 2
    when:
      - data_integrity_failure
      - scheduler_failure
      - stale_schedule
      - stuck_or_timeout_failure
      - script_failure
      - unknown_failure
stages:
  - prebuild
  - build
  - build_production
  - deploy_dev
  - deploy_devint
  - deploy_pretest
  - deploy_test
  - deploy_staging
  - deploy_US
  - deploy_EU
  - deploy_HK
  - scan_dev
  - scan_release
prebuild:
  stage: prebuild
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-[a-z]+--deployment--\d{14}$/
      when: on_success
  script:
    - npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
    - npm install
    - npm install jsontool@7.0.2
    - npm install @kf-products-core/kfhub_cicd
  artifacts:
    paths:
      - ./node_modules
    expire_in: 8 week
build:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /-stag(e|ing)--deployment--\d{14}$/
      when: never
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-[a-z]+--deployment--\d{14}$/
      when: on_success
  script:
    - npm run build:all ${BUILD_TARGET} ci-invoker
  artifacts:
    paths:
      - ./release
build_production:
  stage: build_production
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-stag(e|ing)--deployment--\d{14}$/
      when: on_success
  script:
    - npm run build:all ${BUILD_TARGET} ci-invoker no-sourcemap
  artifacts:
    paths:
      - ./release
deploy_dev:
  stage: deploy_dev
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--pre-dev--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /--dev--deployment--\d{14}$/
      when: on_success
  script:
    - npm run ci-put-s3 -- --input deploy/dev.json --only app --auto
deploy_devint:
  stage: deploy_devint
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--pre-dev-?int--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /--dev-?int--deployment--\d{14}$/
      when: on_success
  script:
    - npm run ci-put-s3 -- --input deploy/devint.json --only app --auto
deploy_pretest:
  stage: deploy_pretest
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--pre-pretest--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /--pretest--deployment--\d{14}$/
      when: on_success
  script:
    - npm run ci-put-s3 -- --input deploy/pretest.json --only app languages --auto
deploy_test:
  stage: deploy_test
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--pre-test--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /--test--deployment--\d{14}$/
      when: on_success
  script:
    - npm run ci-put-s3 -- --input deploy/test.json --only app --auto
deploy_staging:
  stage: deploy_staging
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--pre-stag(e|ing)--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /--stag(e|ing)--deployment--\d{14}$/
      when: on_success
  script:
    - npm run ci-put-s3 -- --input deploy/staging.json --only app --auto
deploy_US:
  stage: deploy_US
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--(pre-)?stag(e|ing)--deployment--\d{14}$/
      when: manual
      allow_failure: true
  script:
    - npm run ci-put-s3 -- --input deploy/prod-us.json --only app --auto
deploy_EU:
  stage: deploy_EU
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--(pre-)?stag(e|ing)--deployment--\d{14}$/
      when: manual
      allow_failure: true
  script:
    - npm run ci-put-s3 -- --input deploy/prod-eu.json --only app --auto
deploy_HK:
  stage: deploy_HK
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--(pre-)?stag(e|ing)--deployment--\d{14}$/
      when: manual
      allow_failure: true
  script:
    - npm run ci-put-s3 -- --input deploy/prod-cn.json --only app --auto
scan_dev:
  stage: scan_dev
  image: openjdk:10
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-(pretest|test)--deployment--\d{14}$/
      when: on_success
      allow_failure: true
  script:
    - touch ${VERACODE_APP_ARCHIVE_NAME}.tar.gz
    - tar --exclude=veracode-wrapper.jar --exclude=node_modules --exclude=__tests__ --exclude=dist --exclude=release --exclude=documentation --exclude=temp --exclude=coverage --exclude=.angular --exclude=last-build --exclude=.git --exclude=.idea --exclude=.DS_Store --exclude=.ssh --exclude=${VERACODE_APP_ARCHIVE_NAME}.tar.gz -zcf ${VERACODE_APP_ARCHIVE_NAME}.tar.gz .
    - wget -q -O veracode-wrapper.jar https://repo1.maven.org/maven2/com/veracode/vosp/api/wrappers/vosp-api-wrappers-java/${VERACODE_VERSION}/vosp-api-wrappers-java-${VERACODE_VERSION}.jar
    - java -jar veracode-wrapper.jar -sandboxname dev-sandbox -createsandbox true -action UploadAndScan -createprofile true -autoscan true -appname "${VERACODE_APP_NAME}" -version "ref-${CI_COMMIT_REF_NAME}-$(date -u +%y%m%d-%H%M%S)" -filepath ${VERACODE_APP_ARCHIVE_NAME}.tar.gz -vid ${VERACODE_ID} -vkey ${VERACODE_KEY} -maxretrycount 10 -debug
scan_release:
  stage: scan_release
  image: openjdk:10
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-stag(e|ing)--deployment--\d{14}$/
      when: on_success
      allow_failure: true
  script:
    - touch ${VERACODE_APP_ARCHIVE_NAME}.tar.gz
    - tar --exclude=veracode-wrapper.jar --exclude=node_modules --exclude=__tests__ --exclude=dist --exclude=release --exclude=documentation --exclude=temp --exclude=coverage --exclude=.angular --exclude=last-build --exclude=.git --exclude=.idea --exclude=.DS_Store --exclude=.ssh --exclude=${VERACODE_APP_ARCHIVE_NAME}.tar.gz -zcf ${VERACODE_APP_ARCHIVE_NAME}.tar.gz .
    - wget -q -O veracode-wrapper.jar https://repo1.maven.org/maven2/com/veracode/vosp/api/wrappers/vosp-api-wrappers-java/${VERACODE_VERSION}/vosp-api-wrappers-java-${VERACODE_VERSION}.jar
    - java -jar veracode-wrapper.jar -sandboxname release-sandbox -createsandbox true -action UploadAndScan -createprofile true -autoscan true -appname "${VERACODE_APP_NAME}" -version "ref-${CI_COMMIT_REF_NAME}-$(date -u +%y%m%d-%H%M%S)" -filepath ${VERACODE_APP_ARCHIVE_NAME}.tar.gz -vid ${VERACODE_ID} -vkey ${VERACODE_KEY} -maxretrycount 10 -debug
