.DS_Store

/logs
*.log

/.idea
/.vscode
/.project
/.classpath
/.c9
/.settings

.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.vscode

# compiled output
/coverage
/documentation
/dist
/release*
/node_modules
/webpack-dist
/jest*
/*.tar.gz
veracode-wrapper.jar
*.lock
.sass-cache

/node-v22.0.0-win-x64
package-lock.json
