variables:
  NODE_VERSION: 22.11.0
  VERACODE_VERSION: 24.4.13.0
  VERACODE_ID: 78133959f016adb2080afdc319b36220
  VERACODE_KEY: 16c846b089b90584ef84b75061d5d511be31c4f705f511ea5f508c4c3636f3df77e5f364fc937a86e863abde1d2959244779c37a43deb75c25c2fa9b2934b036
  VERACODE_APP_NAME: KFD-PMNGR-KFHUB-TARC-SVC-NEST
  VERACODE_APP_ARCHIVE_NAME: kfhub_tarc_svc_nest
default:
  tags:
    - kfhub-nest-build
  before_script:
    - export TERM=xterm
    - nvm use ${NODE_VERSION}
  retry:
    max: 2
    when:
      - always
      - data_integrity_failure
      - scheduler_failure
      - stale_schedule
      - stuck_or_timeout_failure
      - script_failure
      - unknown_failure
stages:
  - prebuild
  - deploy_dev
  - deploy_devint
  - deploy_test
  - deploy_staging
  - deploy_US
  - deploy_EU
  - deploy_HK
  - scan_dev
  - scan_release
prebuild:
  stage: prebuild
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-[a-z]+--deployment--\d{14}$/
      when: on_success
    - if: $CI_COMMIT_REF_NAME =~ /^develop|develop-int|develop-qa$/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: on_success
    - if: $CI_COMMIT_REF_NAME =~ /^(release|hotfix)\/.+/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: on_success
  script:
    - npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
    - npm install
    - npm run test:coverage
    - npm run build:docs
    - npm run build
    - cp -r node_modules release
  artifacts:
    paths:
      - ./node_modules
      - ./documentation
      - ./release
    expire_in: 8 week
deploy_dev:
  stage: deploy_dev
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--pre-dev--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /--dev--deployment--\d{14}$/
      when: on_success
    - if: $CI_COMMIT_REF_NAME =~ /^develop$/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: on_success
  script:
    - npm run configure dev
    - tar -czf release.tar.gz release
    - echo $DEV_IP
    - scp -r release.tar.gz azureuser@$DEV_IP:/home/azureuser/build/kfhub_tarc_svc_nest
    - ssh azureuser@$DEV_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; if [ -d release ]; then mv release "release-$(date -u +%y%m%d-%H%M%S)"; fi"
    - ssh azureuser@$DEV_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; find . -maxdepth 1 -name 'release-*' -mtime +7 | sort -r | tail -n +4 | xargs -n1 | xargs -I% rm -rf %"
    - ssh azureuser@$DEV_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; tar -xzf release.tar.gz"
    - ssh azureuser@$DEV_IP "cp -R /home/azureuser/certs /home/azureuser/build/kfhub_tarc_svc_nest/release"
    - ssh azureuser@$DEV_IP "cd /home/azureuser/build/; sudo pm2 restart ecosystem.config.js --only kfhub_tarc_svc_nest && sudo pm2 describe kfhub_tarc_svc_nest"
deploy_devint:
  stage: deploy_devint
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--pre-dev-?int--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /--dev-?int--deployment--\d{14}$/
      when: on_success
    - if: $CI_COMMIT_REF_NAME =~ /^develop-int$/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: on_success
  script:
    - npm run configure devint
    - tar -czf release.tar.gz release
    - echo $DEV_INT_IP
    - scp -r release.tar.gz azureuser@$DEV_INT_IP:/home/azureuser/build/kfhub_tarc_svc_nest
    - ssh azureuser@$DEV_INT_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; if [ -d release ]; then mv release "release-$(date -u +%y%m%d-%H%M%S)"; fi"
    - ssh azureuser@$DEV_INT_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; find . -maxdepth 1 -name 'release-*' -mtime +7 | sort -r | tail -n +4 | xargs -n1 | xargs -I% rm -rf %"
    - ssh azureuser@$DEV_INT_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; tar -xzf release.tar.gz"
    - ssh azureuser@$DEV_INT_IP "cp -R /home/azureuser/certs /home/azureuser/build/kfhub_tarc_svc_nest/release"
    - ssh azureuser@$DEV_INT_IP "cd /home/azureuser/build/; sudo pm2 restart ecosystem.config.js --only kfhub_tarc_svc_nest && sudo pm2 describe kfhub_tarc_svc_nest"
deploy_test:
  stage: deploy_test
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--pre-test--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /--test--deployment--\d{14}$/
      when: on_success
    - if: $CI_COMMIT_REF_NAME =~ /^develop-qa$/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: on_success
  script:
    - npm run configure test
    - tar -czf release.tar.gz release
    - echo $TEST_IP
    - scp -r release.tar.gz azureuser@$TEST_IP:/home/azureuser/build/kfhub_tarc_svc_nest
    - ssh azureuser@$TEST_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; if [ -d release ]; then mv release "release-$(date -u +%y%m%d-%H%M%S)"; fi"
    - ssh azureuser@$TEST_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; find . -maxdepth 1 -name 'release-*' -mtime +7 | sort -r | tail -n +4 | xargs -n1 | xargs -I% rm -rf %"
    - ssh azureuser@$TEST_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; tar -xzf release.tar.gz"
    - ssh azureuser@$TEST_IP "cp -R /home/azureuser/certs /home/azureuser/build/kfhub_tarc_svc_nest/release"
    - ssh azureuser@$TEST_IP "cd /home/azureuser/build/; sudo pm2 restart ecosystem.config.js --only kfhub_tarc_svc_nest && sudo pm2 describe kfhub_tarc_svc_nest"
deploy_staging:
  stage: deploy_staging
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /^(release|hotfix)\/.+/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: manual
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--pre-stag(e|ing)--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /--stag(e|ing)--deployment--\d{14}$/
      when: on_success
  script:
    - npm run configure stage
    - tar -czf release.tar.gz release
    - echo $STAGE_IP
    - scp -r release.tar.gz azureuser@$STAGE_IP:/home/azureuser/build/kfhub_tarc_svc_nest/
    - ssh azureuser@$STAGE_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; if [ -d release ]; then mv release "release-$(date -u +%y%m%d-%H%M%S)"; fi"
    - ssh azureuser@$STAGE_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; find . -maxdepth 1 -name 'release-*' -mtime +7 | sort -r | tail -n +4 | xargs -n1 | xargs -I% rm -rf %"
    - ssh azureuser@$STAGE_IP "cd /home/azureuser/build/kfhub_tarc_svc_nest/; tar -xzf release.tar.gz"
    - ssh azureuser@$STAGE_IP "cp -R /home/azureuser/certs /home/azureuser/build/kfhub_tarc_svc_nest/release"
    - ssh azureuser@$STAGE_IP "cd /home/azureuser/build/; sudo pm2 start ecosystem.config.js --only kfhub_tarc_svc_nest && sudo pm2 describe kfhub_tarc_svc_nest"
deploy_US:
  stage: deploy_US
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /^(release|hotfix)\/.+/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--(pre-)?stag(e|ing)--deployment--\d{14}$/
      when: manual
      allow_failure: true
  script:
    - npm run configure prod
    - tar -czf release.tar.gz release
    - echo $PROD_US_IP01
    - echo $PROD_US_IP02
    - |
      for server in $PROD_US_IP01 $PROD_US_IP02; do
        scp -r release.tar.gz tonym@$server:/home/tonym/build/kfhub_tarc_svc_nest/
        ssh tonym@$server "cd /home/tonym/build/kfhub_tarc_svc_nest/; if [ -d release ]; then mv release "release-$(date -u +%y%m%d-%H%M%S)"; fi"
        ssh tonym@$server "cd /home/tonym/build/kfhub_tarc_svc_nest/; find . -maxdepth 1 -name 'release-*' -mtime +7 | sort -r | tail -n +4 | xargs -n1 | xargs -I% rm -rf %"
        ssh tonym@$server "cd /home/tonym/build/kfhub_tarc_svc_nest/; tar -xzf release.tar.gz"
        ssh tonym@$server "cp -R /home/tonym/certs /home/tonym/build/kfhub_tarc_svc_nest/release"
        ssh tonym@$server "cd /home/tonym/build/ && sudo pm2 start ecosystem.config.js --only kfhub_tarc_svc_nest && sudo pm2 describe kfhub_tarc_svc_nest"
      done
deploy_EU:
  stage: deploy_EU
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /^(release|hotfix)\/.+/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--(pre-)?stag(e|ing)--deployment--\d{14}$/
      when: manual
      allow_failure: true
  script:
    - npm run configure prodEU
    - tar -czf release.tar.gz release
    - |
      echo $PROD_EU_IP01
      echo $PROD_EU_IP02
      for server in $PROD_EU_IP01 $PROD_EU_IP02; do
        scp -r release.tar.gz ubuntu@$server:/home/ubuntu/build/kfhub_tarc_svc_nest/
        ssh ubuntu@$server "cd /home/ubuntu/build/kfhub_tarc_svc_nest/; if [ -d release ]; then mv release "release-$(date -u +%y%m%d-%H%M%S)"; fi"
        ssh ubuntu@$server "cd /home/ubuntu/build/kfhub_tarc_svc_nest/; find . -maxdepth 1 -name 'release-*' -mtime +7 | sort -r | tail -n +4 | xargs -n1 | xargs -I% rm -rf %"
        ssh ubuntu@$server "cd /home/ubuntu/build/kfhub_tarc_svc_nest/; tar -xzf release.tar.gz"
        ssh ubuntu@$server "cp -R /home/ubuntu/certs /home/ubuntu/build/kfhub_tarc_svc_nest/release"
        ssh ubuntu@$server "sudo pm2 start /home/ubuntu/build/ecosystem.config.js --only kfhub_tarc_svc_nest"
      done
deploy_HK:
  stage: deploy_HK
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /^(release|hotfix)\/.+/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/ || $CI_COMMIT_TAG =~ /--(pre-)?stag(e|ing)--deployment--\d{14}$/
      when: manual
      allow_failure: true
  script:
    - npm run configure prodCN
    - tar -czf release.tar.gz release
    - |
      echo $PROD_CN_IP01
      echo $PROD_CN_IP02
      for server in $PROD_CN_IP01 $PROD_CN_IP02; do
        scp -r release.tar.gz ubuntu@$server:/home/ubuntu/build/kfhub_tarc_svc_nest/
        ssh ubuntu@$server "cd /home/ubuntu/build/kfhub_tarc_svc_nest/; if [ -d release ]; then mv release "release-$(date -u +%y%m%d-%H%M%S)"; fi"
        ssh ubuntu@$server "cd /home/ubuntu/build/kfhub_tarc_svc_nest/; find . -maxdepth 1 -name 'release-*' -mtime +7 | sort -r | tail -n +4 | xargs -n1 | xargs -I% rm -rf %"
        ssh ubuntu@$server "cd /home/ubuntu/build/kfhub_tarc_svc_nest/; tar -xzf release.tar.gz"
        ssh ubuntu@$server "cp -R /home/ubuntu/certs /home/ubuntu/build/kfhub_tarc_svc_nest/release"
        ssh ubuntu@$server "sudo pm2 start /home/ubuntu/build/ecosystem.config.js --only kfhub_tarc_svc_nest"
      done
scan_dev:
  stage: scan_dev
  image: openjdk:10
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-(pretest|test)--deployment--\d{14}$/
      when: on_success
      allow_failure: true
    - if: $CI_COMMIT_REF_NAME =~ /^develop-qa$/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: on_success
      allow_failure: true
  script:
    - touch ${VERACODE_APP_ARCHIVE_NAME}.tar.gz
    - tar --exclude=veracode-wrapper.jar --exclude=node_modules --exclude=__tests__ --exclude=dist --exclude=release --exclude=documentation --exclude=temp --exclude=coverage --exclude=.angular --exclude=last-build --exclude=.git --exclude=.idea --exclude=.DS_Store --exclude=.ssh --exclude=${VERACODE_APP_ARCHIVE_NAME}.tar.gz -zcf ${VERACODE_APP_ARCHIVE_NAME}.tar.gz .
    - wget -q -O veracode-wrapper.jar https://repo1.maven.org/maven2/com/veracode/vosp/api/wrappers/vosp-api-wrappers-java/${VERACODE_VERSION}/vosp-api-wrappers-java-${VERACODE_VERSION}.jar
    - java -jar veracode-wrapper.jar -sandboxname dev-sandbox -createsandbox true -action UploadAndScan -createprofile true -autoscan true -appname "${VERACODE_APP_NAME}" -version "ref-${CI_COMMIT_REF_NAME}-$(date -u +%y%m%d-%H%M%S)" -filepath ${VERACODE_APP_ARCHIVE_NAME}.tar.gz -vid ${VERACODE_ID} -vkey ${VERACODE_KEY} -maxretrycount 10 -debug
scan_release:
  stage: scan_release
  image: openjdk:10
  rules:
    - if: $CI_COMMIT_TAG =~ /-manual--deployment--\d{14}$/
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_TAG =~ /-stag(e|ing)--deployment--\d{14}$/
      when: on_success
      allow_failure: true
    - if: $CI_COMMIT_REF_NAME =~ /^(release|hotfix)\/.+/ && $CI_COMMIT_MESSAGE !~ /\sversion\sto/
      when: on_success
      allow_failure: true
  script:
    - touch ${VERACODE_APP_ARCHIVE_NAME}.tar.gz
    - tar --exclude=veracode-wrapper.jar --exclude=node_modules --exclude=__tests__ --exclude=dist --exclude=release --exclude=documentation --exclude=temp --exclude=coverage --exclude=.angular --exclude=last-build --exclude=.git --exclude=.idea --exclude=.DS_Store --exclude=.ssh --exclude=${VERACODE_APP_ARCHIVE_NAME}.tar.gz -zcf ${VERACODE_APP_ARCHIVE_NAME}.tar.gz .
    - wget -q -O veracode-wrapper.jar https://repo1.maven.org/maven2/com/veracode/vosp/api/wrappers/vosp-api-wrappers-java/${VERACODE_VERSION}/vosp-api-wrappers-java-${VERACODE_VERSION}.jar
    - java -jar veracode-wrapper.jar -sandboxname release-sandbox -createsandbox true -action UploadAndScan -createprofile true -autoscan true -appname "${VERACODE_APP_NAME}" -version "ref-${CI_COMMIT_REF_NAME}-$(date -u +%y%m%d-%H%M%S)" -filepath ${VERACODE_APP_ARCHIVE_NAME}.tar.gz -vid ${VERACODE_ID} -vkey ${VERACODE_KEY} -maxretrycount 10 -debug
