@import 'node_modules/@kf-products-core/kfhub_lib/styles/variables.scss';

.section {
    &.single {
        border: none;
        padding-bottom: 0;
    }
}

.title-header-section {
    .title-header {
        font-size: 16px;
        flex: 1;
        margin-bottom: 10px;
    }
    .toggle {
        float: right;

        span {
            margin-left: $small-margin;
        }
    }
}

:host ::ng-deep kf-input.description-textarea textarea {
    min-height: 202px;
    padding: $size-12;
    padding-bottom: $size-24;
}

.characters {
    bottom: 8px;
    right: 11px;
}
