@import 'node_modules/@kf-products-core/kfhub_lib/styles/variables.scss';
@import 'node_modules/@kf-products-core/kfhub_lib/styles/mixins.scss';

$stats-color: #485465;

.wrapper {
    width: 390px;
    height: 350px;
    text-align: center;
    border: solid 1px $scrollbar-sliver;
    padding: 30px $default-margin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.height-auto {
        height: auto;
    }
    .uKf-tarc-home-recViewMod-spTitle,
    .title {
        font-size: $statrow-font-size;
        line-height: 1.1;
        word-wrap: break-word;
        word-break: break-word;
        padding-bottom: 6px;
    }
    .header {
        height: 100px;
        border-bottom: solid 1px $page-background;
    }
    .body {
        flex-grow: 2;
        padding-top: 30px;
    }
    .stats {
        border-top: solid 1px $page-background;
        height: 66px;
        display: flex;
        justify-content: space-around;
        padding-top: $default-padding;
        .stats-item {
            width: 40%;
            .description {
                color: $stats-color;
                text-align: center;
            }
            .title {
                margin-bottom: 0px;
            }
        }
    }
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $bodyBackground;
    border: dashed 1px $scrollbar-sliver;
    kf-icon {
        vertical-align: middle;
    }
}
