@import 'node_modules/@kf-products-core/kfhub_lib/styles/variables.scss';
@import 'node_modules/@kf-products-core/kfhub_lib/styles/mixins.scss';

.wrapper {
    .body-content {
        margin: $larger-padding 0;
        padding-right: 300px;
    }

    .master-select {
        margin-bottom: $default-padding;
    }

    .format-select {
        ::ng-deep kf-radio-button {
            ::ng-deep label {
                font-weight: normal;
            }
            margin: 4px 0 !important;
        }
    }

    .h-60 {
        height: 60%;
    }

    .h-40 {
        height: 40%;
    }

    .split-select {
        margin-bottom: $smaller-padding;
    }

    .split-count {
        margin-left: 28px;
    }

    .warn {
        margin-left: 28px;
        max-width: 256px;
        display: flex;

        kf-icon {
            padding-right: $smaller-padding;
        }
    }
    
    .ig-format-radio-container {
        display: flex;
    }
}

.split-count {
    kf-dropdown {
        min-width: $dropdown-min-width;
    }
}

.pb-160{
    padding-bottom: 80px;
    border-bottom: 1px solid $border-color;
}

.view-edit{
    position: absolute;
    top: 4px;
    left: 40%;
}

.border-top{
    border-top: 1px solid $border-color;
}

.box-section{
    padding-top: 44px;
}

.color-primary{
    cursor: pointer;
    color: $blue;
}

.search-list{
    border: 1px solid $border-color;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    ul{
        height: 340px;
        overflow-y: auto;
    }
    kf-input ::ng-deep{
        width: 100%;
        height: 44px;
        margin: 10px 0;
        input{
            background-color: #E5E5E5;
            ::placeholder{
                color: #7F7F7F;
            }
        }
    }
}

.opaque-box{
    opacity: 0.7;
    cursor: default;
}

.edit-button{
    text-align: right;
}

kf-progress-bar ::ng-deep{
    width: 100% !important;
    rect{
        width: 53%;
    }
}

kf-radio-button.disabled ::ng-deep {
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.mr-16{
    margin-right: 16px !important;
}