@import "node_modules/@kf-products-core/kfhub_lib/styles/variables.scss";

.item {
    &.selected {
        background: $dropdown-selected;
        &:hover {
            background: $dropdown-hover;
        }
    }

    &:hover {
        background: $dropdown-hover;
    }
}

.search {
    position: sticky;
    top: 0;
    z-index: 1;
}
