
name: kfone-profile-manager-iac-deploy
run-name: kfone-profile-manager-iac-deploy-${{ inputs.environment }}-${{ inputs.region }}-${{ inputs.imageTag }}

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: "Environment"
        required: true
        default: sbx
        options:
          - sbx
          - dev
          - qa1
          - stg
          - prd
      region:
        type: choice
        description: "AWS Region"
        required: true
        default: us-east-1
        options:
          - us-east-1
          - eu-central-1
          - eu-west-1
          - us-west-2

jobs:
  Terraform:
    uses: HayGroup/kfone-common/.github/workflows/terraform-deploy-app-iac-0.0.2.yml@main
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}
      region: ${{ inputs.region }}
      working_directory: iac